h1{
	text-align: center;
}
		*{
			box-sizing:border-box;
		}
	    .box{
			border:2px solid black;
			margin-right:20px;
			margin-left: 10px;
			margin-bottom: 20px;
			padding:10px;
             font-size:18px;
             font-family: sans-serif;
             position:relative;
background-color: #A9A9A9;
 font-weight: bold; 
 overflow: none;

}

.row{
	width:100%;
}
.demo{
			background-color:pink;
            width:100px;
            height:20px;
            font-size:18px;
            overflow: none;
            float:right;
             margin-right:-9px;
  margin-top:-10px;
            position: relative;
  font-weight: bold;
            border-left:2px solid black;
            border-bottom: 2px solid black;
            text-align: center;
           
		}
		.demo2{
			background-color:red;
            width:100px;
            height:20px;
            font-size:18px;
            overflow: none;
            float:right;
             margin-right:-9px;
  margin-top:-10px;
            position: relative;
  font-weight: bold;
            border-left:2px solid black;
            border-bottom: 2px solid black;
            text-align: center;
           
		}
		.demo3{
			background-color:yellow;
            width:100px;
            height:20px;
            font-size:18px;
            overflow: none;
            float:right;
             margin-right:-9px;
  margin-top:-10px;
            position: relative;
  font-weight: bold;
            border-left:2px solid black;
            border-bottom: 2px solid black;
            text-align: center;
           
		}
		@media(min-width:992px){
			
			.col-lg-4{
				float:left;
				width:33%;
			}
			
		}
		@media (min-width: 768px) and (max-width:991px){
	
			.col-md-6,
			.col-md-12{
				float:left;
			}
			.col-md-6{
				width:50%;
			}
			.col-md-12{
				width:100%;
			}
}		

@media(max-width:767px)
{
    .col-sm-12{
    	float:left;
    	width:100%;
    }
	
}
